    
    <mat-sidenav-container class="sidenav-container" >
      <mat-sidenav  mode="side"class="sidenav"  #onclick>
        <mat-nav-list>
          <mat-list-item >
            <a matListItemTitle href="...">Liste des devoirs</a>
            <button mat-icon-button  matListItemMeta>
               <mat-icon>work</mat-icon>
            </button>
         </mat-list-item>
         <mat-list-item >
          <a matListItemTitle href="...">Ajout d'un devoir</a>
          <button mat-icon-button  matListItemMeta>
             <mat-icon>add</mat-icon>
          </button>
       </mat-list-item>
       <mat-list-item >
        <a matListItemTitle href="...">Modification d'un devoir</a>
        <button mat-icon-button  matListItemMeta>
           <mat-icon>assignment</mat-icon>
        </button>
     </mat-list-item>
     <mat-list-item >
      <a matListItemTitle href="...">Suppression d'un devoir</a>
      <button mat-icon-button  matListItemMeta>
         <mat-icon>delete</mat-icon>
      </button>
   </mat-list-item>
   <mat-list-item >
    <a matListItemTitle href="...">Génération de données de test</a>
    <button mat-icon-button  matListItemMeta>
       <mat-icon>bar_chart</mat-icon>
    </button>
 </mat-list-item>
        </mat-nav-list>
      </mat-sidenav>
      <mat-sidenav-content>
          <mat-toolbar>
              <button mat-icon-button class="example-icon" aria-label="Example icon-button with menu icon" (click)="onclick.toggle()">
                <mat-icon>menu</mat-icon>
              </button>
              <span>Mes devoirs APP</span>
              <span class="example-spacer"></span>
              <button mat-icon-button class="example-icon" aria-label="Example icon-button with home icon">
               <mat-icon>home</mat-icon>
             </button>
              <div class="example-button-row">
               <a mat-raised-button color="primary"  target="_blank">connexion</a>
               </div>
            </mat-toolbar>
            <app-assignments></app-assignments>
            
            <div class="example-button-row">
                <a mat-raised-button color="primary" href="https://www.instagram.com/ismailhiko" target="_blank">DON'T PRESS HERE</a>
            </div>
      </mat-sidenav-content>
    </mat-sidenav-container>



